@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#00a9e2;
        --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
}
*{
	margin: 0;
    padding: 0;
    padding-bottom: 20px;
	scroll-behavior: smooth;
}

main {
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

#home { 	
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
#home .filter{
    background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 30px;
    bottom: 10;
    left: 0;
    right: 0;
	opacity:.20;
}  

.intro {
	text-align:center;
        color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 30px;
}
  h3{
	padding-bottom: 45px;
        letter-spacing: normal;
        font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
    text-shadow: 0px 0px 40px var(--main-decor-color);
}

  

body {
    --accent-color: #D0D066;
  --background-color: #0b0c0f;
  --text-color:white;  
  --button-text-color: var(--background-color);
  --transition-delay: 1s;



    height: 100%;
    justify-content: center;
  align-items: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
    
}

    body.dark {
    --accent-color:rgb(240, 95, 37) ;
    --background-color:white;
    --text-color: black;
  }

  .theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    justify-content: center;
    text-align: justify;
    float: left;
    
    
    
    
    cursor: pointer;
    margin-left: 20px;
    margin-top: -30px;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
  }


header{
    
    font-weight: bold;
    font-size: 60px;
    padding:10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  
}

nav ul{
    padding-left:0px;
    
 
}

nav li{
    list-style-type: none;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: inline;
  
   

}

.contribute{
    float:right;
    padding-right:10px;
    font-weight: lighter;
    font-size: 20px;
    
    font-family: 'Courier New', Courier, monospace;
    width: 140px;
    height:30px;
    background-color: var(--accent-color);
    color: white;
    justify-content: center;
    text-align: justify;
    border-radius: .3em;
    border: none;
    outline: none;
}

.anav a{
    
    margin-left:20px;
    text-decoration-line: underline;
    
    
}
.anav a:hover{
    color:orangered;
    text-decoration-color:whitesmoke;
}


#clock{
    text-align: center;
    padding-top: -120px;
}



.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.table ul{
    text-align: center;
    
    font-size: 30px;
    color: white;
	  padding: 30px;
	  font-family: var(--main-font-family);
    
    display:inline-block;
    width: 400px;
    height:300px;
    padding: 0 16px;
    text-decoration-color: orangered;
    font-weight: bolder;
    
    
}


.table a{
    text-decoration: none;
}



.table a:link,a:visited {
   
    color: currentColor;
   
   text-decoration: none;

}
  
.table a:hover {
    color:rgb(0, 0, 0);
}


.table li{
    
    text-align: left;
    font-size:20px;
    text-align: center;
    border-radius: 10px;
    color:rgb(242, 247, 248);
    font-family:Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    padding:0 1px;
    border-color:black;
    border-style:double;
    margin-bottom: 5px;
    background: linear-gradient(45deg,#ff7300,#ff0953);
    font-weight: bold;
    list-style-type: none;
    margin-left: 10px;
    margin-right:10px;
}

.table span{
    font-size: 20px;
    margin-left: 10px;
    margin-right:10px;
    text-align: center;
    
}



.dropdown {
    position: relative;
    display: inline-block;
    width:400px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(163, 161, 161);
    min-width: 360px;
    box-shadow: 0px 8px 20px 0px rgb(0, 0, 0);
    padding: 10px 16px;
    z-index: 1;
    border-radius: 20px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .footer {
    z-index: 1;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    color: rgb(50, 129, 182);
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

#name {
    color: #fff;
    font-size: 1em;
}
#txt0{
    font-size: 1.3em;
}
#txt{
    font-size: 1.2em;
}
#des{
    font-size: 1.3em;
}
#desb{
    font-weight: bold;
    font-style: italic;
    background-color: #FF1493;
}


  










